#!/bin/sh

# make a symbolic link to this file called ~/.zprofile
{{- if eq .chezmoi.hostname "manjaro-laptop" }}
export TERMINAL="xfce4-terminal"
{{else}}
export TERMINAL="gnome-terminal"
{{- end }}
export EDITOR="nvim"
export BROWSER="firefox"
export XDG_MUSIC_DIR="/mnt/Music"
export PATH=~/.local/bin:~/.local/share/applications:$PATH
export PAGER="less"
export gitrepos="$HOME/git-repos"


# enable smooth scrolling in firefox
export MOZ_USE_XINPUT2=1
# LOG="$HOME/profile-invocations"
# echo "-----" >>$LOG
# echo "Caller: $0" >>$LOG
# echo "TERMINAL: $TERMINAL" >>$LOG
# echo "EDITOR: $EDITOR" >>$LOG
# echo "BROWSER: $BROWSER" >>$LOG
# xset dpms 6000 6000 6000
# xset s 6000 6000
