#!/bin/sh

# make a symbolic link to this file called ~/.zprofile
export TERMINAL="gnome-terminal"
export EDITOR="nvim"
export BROWSER="firefox"
export XDG_MUSIC_DIR="$HOME/Music"
export PATH=~/.local/bin:~/.local/share/applications:$PATH
export PAGER="less"
export gitrepos="$HOME/git-repos"
export XDG_PICTURES_DIR="$HOME/Pictures"

# enable firefox on wayland
export MOZ_ENABLE_WAYLAND=1
# enable smooth scrolling in firefox
export MOZ_USE_XINPUT2=1
# Make firefox link opening work on wayland
export MOZ_DBUS_REMOTE=1
export WLR_DRM_NO_MODIFIERS=1

# Make java programs work on wayland (arduino, android studio, ...)
export _JAVA_AWT_WM_NONREPARENTING=1

# According to gtk: [warning] For a functional tray you must have libappindicator-* installed and export XDG_CURRENT_DESKTOP=Unity
# I disabled it, because it doesn't seem to do much
# export XDG_CURRENT_DESKTOP=Unity

# Required for android-studio to find the sdk
export ANDROID_HOME=~/Android-studio-sdk

export ASAN_OPTIONS=abort_on_error=1:disable_coredump=0:unmap_shadow_on_exit=1

if [ -z $DISPLAY ] && [ "$(tty)" = "/dev/tty1" ]; then
  exec sway
  # exec ~/git-repos/sway/build/sway/sway 2> ~/bug-reports/sway.log
fi
