# i3status configuration file.
# see "man i3status" for documentation.

# It is important that this file is edited as UTF-8.
# The following line should contain a sharp s:
# ß
# If the above line is not correctly displayed, fix your editor first!

general {
        colors = true
        interval = 5
}

order += "ipv6"
order += "disk /"
{{- if eq .chezmoi.hostname "archstudent" }}
order += "wireless _first_"
{{- end }}
{{- if eq .chezmoi.hostname "manjaro-laptop" }}
order += "wireless _first_"
{{- end }}
order += "ethernet _first_"
{{- if eq .chezmoi.hostname "archstudent" }}
order += "battery all"
{{- end }}
{{- if eq .chezmoi.hostname "manjaro-laptop" }}
order += "battery all"
{{- end }}
order += "load"
order += "tztime local"
order += "tztime local2"

wireless _first_ {
		format_up = "W: (%quality at %essid) %ip"
		# format_down = "W: down"
}

ethernet _first_ {
        # if you use %speed, i3status requires root privileges
        format_up = "E: %ip (%speed)"
        format_down = "E: down"
}

battery all {
		format = "%status %percentage %remaining"
}

tztime local {
        format = " %d-%m-%Y "
}
tztime local2 {
        format = " %H:%M:%S  "
}

load {
        format = "%1min"
}

disk "/" {
        format = "%avail"
}
