# i3 config file (v4)
#
# Please see https://i3wm.org/docs/userguide.html for a complete reference!
#
# This config file uses keycodes (bindsym) and was written for the QWERTY
# layout.
#
# To get a config file with the same key positions, but for your current
# layout, use the i3-config-wizard
#

##### Dependencies #####
# pulsemmixer
# ponymix
# picom
# feh
# mpc
# mpd
# nautilus
# gnome-system-monitor
# pavucontrol
# thunderbird
# dunst

##### End of Dependencies #####

set $mod Mod4

## Notifications
# mod + alt + h
bindsym $mod+alt+h exec dunstctl history-pop
bindsym $mod+alt+a exec dunstctl context
bindsym $mod+alt+c exec dunstctl close
bindsym $mod+alt+r exec ~/git-repos/dunst/dunstctl reload
bindsym $mod+alt+w exec word-lookup.sh -w

# reshow latest music notification
bindsym $mod+alt+m exec notify_last_song.sh

hide_edge_borders --i3 smart

# default_border none
default_border pixel 3

focus_follows_mouse no

focus_wrapping no

#title_align center
title_align left

# start a terminal
bindsym $mod+Return exec i3-sensible-terminal
bindsym $mod+Shift+Return exec st

# start a browser
bindsym $mod+t exec --no-startup-id sh -c "launchOnce $BROWSER '$BROWSER' 1"

# launch file manager
bindsym $mod+o exec nautilus

# launch thunderbird for mail
bindsym $mod+i exec thunderbird

# launch pavucontrol for audio control
bindsym $mod+u exec pavucontrol --tab 3

# launch appfinder
bindsym $mod+y exec xfce4-appfinder

# test notification
bindsym Ctrl+Shift+l exec --no-startup-id dunstify -h string:synchronous:testing "Short notification"
bindsym Ctrl+Shift+k exec --no-startup-id dunstify -h string:synchronous:testing2 "This notification is longer"

# bindsym Ctrl+Shift+l exec --no-startup-id notify-send -h string:x-canonical-private-synchronous:i3 "Test long ladfine like thisasdf asdf asdf asdf asfa sdfs asdfasdfasdfasdfasdafsdWith multiple lines of text you can test more stuff."
# bindsym Ctrl+Shift+k exec --no-startup-id notify-send -h string:x-canonical-private-synchronous:i3 -h int:value:42 "Test long ladfine like thisasdf asdf asdf asdf asfa sdfs asdfasdfasdfasdfasdafsdWith multiple lines of text you can test more stuff."
# bindsym Ctrl+Shift+j exec notify-send "Second test long ladfine like thisasdf asdf asdf asdf asfa sdfs asdfasdfasdfasdfasdafsdWith multiple lines of text you can test more stuff."

bindsym --locked F2	        exec --no-startup-id toggleMusic
bindsym --locked Shift+F2	exec --no-startup-id playerctl play-pause
bindsym Ctrl+F2			exec --no-startup-id mpc next
bindsym Ctrl+Shift+F2	exec --no-startup-id mpc prev
# bindsym Mod1+F3	exec --no-startup-id turnOffScreen

bindsym --locked XF86AudioMicMute exec --no-startup-id hotkeys toggleMic
bindsym --locked $mod+Shift+m exec --no-startup-id hotkeys toggleMic
# brightness controls for laptop
bindsym --locked XF86MonBrightnessUp exec --no-startup-id brightnessUp_i3 | progress-notify brightness
bindsym --locked XF86MonBrightnessDown exec --no-startup-id brightnessDown_i3 | progress-notify brightness
bindsym --locked F3 exec --no-startup-id brightnessDown_i3 | progress-notify brightness
bindsym --locked F4 exec --no-startup-id brightnessUp_i3 | progress-notify brightness
bindsym Ctrl+Shift+equal exec --no-startup-id ponymix increase 1 | progress-notify audio
bindsym Ctrl+Shift+minus exec --no-startup-id ponymix decrease 1 | progress-notify audio


# print screen shortcut
bindsym Print exec --no-startup-id slurp | grim -g -
bindsym alt+Print exec --no-startup-id slurp | grim -g - - | wl-copy
bindsym $mod+n exec --no-startup-id grim
bindsym $mod+c exec --no-startup-id startCoding

############################### sound control ####################################
bindsym --locked XF86AudioRaiseVolume exec --no-startup-id  hotkeys raiseVolume
bindsym --locked XF86AudioLowerVolume exec --no-startup-id  hotkeys lowerVolume
# bindsym XF86AudioRaiseVolume exec --no-startup-id  ponymix --sink-input -d "ALSA Playback" increase 5 | progress-notify audio
# bindsym XF86AudioLowerVolume exec --no-startup-id  ponymix --sink-input -d "ALSA Playback" decrease 5 | progress-notify audio
bindsym --locked Shift+XF86AudioPlay  exec --no-startup-id toggleMusic
bindcode --locked 201                 exec --no-startup-id notify-send "Test"
bindsym --locked XF86AudioPlay        exec --no-startup-id playerctl play-pause

# The play-pause button of my headset (sony WH-1000xm3) gives this keysym
# In detail, it gives the code 201, KEY_PAUSECD, which gets translated to this.
bindsym --locked XF86AudioPause       exec --no-startup-id playerctl play-pause
bindsym --locked XF86AudioMute        exec --no-startup-id pulsemixer --toggle-mute --get-mute | progress-notify muted
bindsym XF86AudioNext        exec --no-startup-id mpc next
bindsym XF86AudioPrev        exec --no-startup-id mpc prev

bindsym $mod+m exec --no-startup-id launchOnce ario ario ""

bindsym $mod+p exec gnome-system-monitor

bindsym XF86Tools       exec $TERMINAL -e 'ncmpcpp -s playlist'

# automatically go back and forth between workspaces when repeatedly pressing $mod + num
workspace_auto_back_and_forth yes

bindsym $mod+tab workspace back_and_forth

assign [app_id="thunderbird"] workspace 4
assign [app_id="firefox"] workspace 1
assign [title="^Factorio"] workspace 2

# Open specific applications in floating mode
for_window [class="Tor"] floating enable border pixel 1
for_window [class="^SFML"] floating enable border pixel 1
for_window [class="^SFML"] move position center
for_window [app_id="pavucontrol"] floating enable, resize set width 800 px height 700px, move position center
for_window [app_id="^mpv$"] floating enable

# unity-specific fixes
# for_window [window_type="^popup_menu$"] floating enable
for_window [window_type="popup_menu"] floating enable


for_window [app_id="nextcloud$" title="^Nextcloud$"] floating enable, resize set width 400 px height 600px, move position cursor, move up 330, move left 200
for_window [app_id="^Progress$" title="^zenity$"] floating enable # steam "pins updating"
## From manjaro config
for_window [title="alsamixer"] floating enable border pixel 1
for_window [class="calamares"] floating enable border normal
for_window [class="Clipgrab"] floating enable
for_window [title="File Transfer*"] floating enable
for_window [class="fpakman"] floating enable
for_window [class="Galculator"] floating enable border pixel 1
for_window [class="GParted"] floating enable border normal
for_window [title="i3_help"] floating enable sticky enable border normal
for_window [class="Lightdm-settings"] floating enable
for_window [class="Lxappearance"] floating enable sticky enable border normal
for_window [class="Manjaro-hello"] floating enable
for_window [class="Manjaro Settings Manager"] floating enable border normal
for_window [title="MuseScore: Play Panel"] floating enable
for_window [class="Nitrogen"] floating enable sticky enable border normal
for_window [class="Oblogout"] fullscreen enable
for_window [class="octopi"] floating enable
for_window [title="About Pale Moon"] floating enable
for_window [class="Pamac-manager"] floating enable
# for_window [class="Pavucontrol"] floating enable
for_window [class="qt5ct"] floating enable sticky enable border normal
for_window [class="Qtconfig-qt4"] floating enable sticky enable border normal
for_window [class="Simple-scan"] floating enable border normal
for_window [class="(?i)System-config-printer.py"] floating enable border normal
for_window [class="Skype"] floating enable border normal
for_window [class="Timeset-gui"] floating enable border normal
for_window [class="(?i)virtualbox"] floating enable border normal
for_window [class="Xfburn"] floating enable
for_window [title="^Firefox — Sharing Indicator$"] floating enable , border none, move position 100 ppt 0 ppt


# exit i3 (logs you out of your X session)
# bindsym $mod+Shift+e exec "i3-nagbar -t warning -m 'You pressed the exit shortcut. Do you really want to exit i3? This will end your X session.' -b 'Yes, exit i3' 'i3-msg exit'"

exec --no-startup-id sh -c "launchOnce mic-led mic-led"

## Launch external programs without priority
# set menu as compose key
exec --no-startup-id setxkbmap -option compose:menu

# Make sure playerctl acts on the last active player.
exec --no-startup-id playerctld daemon

## sway specific
include /etc/sway/config.d/*
include ~/.config/sway/config.d/*.conf
## end sway specific
