# Desktop background
output * bg /usr/share/backgrounds/sway/Sway_Wallpaper_Blue_1920x1080.png fill
output "eDP-1" bg /usr/share/backgrounds/sway/Sway_Wallpaper_Blue_1920x1080.png fill
output "HDMI-A-4" bg /usr/share/backgrounds/sway/Sway_Wallpaper_Blue_1920x1080.png fill

input type:keyboard {
        xkb_options compose:menu
}

input type:touchpad {
        tap enabled
        dwt disabled
        tap_button_map lrm
}

bar {
    swaybar_command waybar
}

exec swayidle -w   timeout 600 'systemctl suspend' \
                   timeout 300 'swaymsg "output * dpms off"' \
                   resume 'swaymsg "output * dpms on"' \
                   before-sleep 'swaylock -f -c 000000'

{{- if eq .chezmoi.hostname "archstudent" }}
exec_always kanshi
{{- end }}

# configure display
bindsym $mod+Shift+s exec --no-startup-id configureDisplay.sh -ws

bindsym $mod+Shift+d exec --no-startup-id kanshi

set $menu dmenu_path | dmenu | xargs swaymsg exec --
bindsym $mod+d exec $menu
# Your preferred application launcher
# Note: pass the final command to swaymsg so that the resulting window can be opened
# on the original workspace that the command was run on.
