# /etc/udev/rules.d/wakeup.rules
# Only valid for my laptop
ACTION=="add", SUBSYSTEM=="usb", DRIVERS=="usb", ATTRS{idVendor}=="046d", ATTRS{idProduct}=="c534", ATTR{power/wakeup}="disabled", ATTR{driver/1-4/power/wakeup}="disabled"
