# /etc/systemd/system/download_updates.timer
[Unit]
Description=Download, but not install pacman updates

[Service]
Type=oneshot
ExecStart=/usr/bin/checkupdates --download
