# /etc/systemd/system/download_updates.timer
[Unit]
Description=Download pacman updates daily
After=wg-quick@wg0.service
Requires=wg-quick@wg0.service

[Timer]
OnCalendar=daily
AccuracySec=1h
Persistent=true

[Install]
WantedBy=timers.target
