# i3 config file (v4)
# 
# Please see https://i3wm.org/docs/userguide.html for a complete reference!
#
# This config file uses keycodes (bindsym) and was written for the QWERTY
# layout.
#
# To get a config file with the same key positions, but for your current
# layout, use the i3-config-wizard
#
# *************** My own customizations ***************

# exec --no-startup-id ~/fixScreen
# This is done by lightdm
#

##### Dependencies #####
# pulsemmixer
# ponymix
# notify-dekstop-git (AUR)
# picom
# feh
# mpc
# mpd
# nautilus
# gnome-system-monitor


##### End of Dependencies #####

exec --no-startup-id feh --recursive --randomize --bg-fill /usr/share/backgrounds

# compositor
# exec --no-startup-id picom --config ~/.config/picom/picom.conf

exec --no-startup-id nextcloud --background

# set menu as compose key
exec --no-startup-id setxkbmap -option compose:menu

# bluetooth applet
exec --no-startup-id blueman-tray

# networkmanager - internet
exec --no-startup-id nm-applet

# show a notification if the battery is low
exec --no-startup-id i3-battery-popup -L 20 -l 15 -n

exec --no-startup-id /usr/lib/notification-daemon-1.0/notification-daemon

set $mod Mod4

hide_edge_borders smart

# default_border none
default_border pixel 3

focus_follows_mouse no

focus_wrapping no

#title_align center
title_align left

# start a terminal
bindsym $mod+Return exec i3-sensible-terminal
bindsym $mod+Shift+Return exec st

# bindsym $mod+shift+t exec --no-startup-id sh -c "sudo ~/fixTouchpad"

# start a browser
bindsym $mod+t exec --no-startup-id sh -c "launchOnce $BROWSER $BROWSER 1"

# launch file manager
bindsym $mod+o exec nautilus

# launch thunderbird for mail
bindsym $mod+i exec thunderbird

# brightness controls for laptop
bindsym F3 	exec --no-startup-id brightnessDown_i3
bindsym F4	exec --no-startup-id brightnessUp_i3
bindsym Mod1+F3	exec --no-startup-id turnOffScreen
bindsym F2	exec --no-startup-id toggleMusic 
bindsym Ctrl+F2			exec --no-startup-id mpc next
bindsym Ctrl+Shift+F2	exec --no-startup-id mpc prev 
# bindsym XF86MonBrightnessUp exec sudo ~/brightness/brightnessUp
# bindsym XF86AudioMicMute exec testHotkey "brigthness"
# bindsym XF86AudioMicMute exec ~/brightness/brightnessUp
# bindsym XF86MonBrightnessDown exec sudo ~/brightness/brightnessDown
{{- if eq .chezmoi.hostname "manjaro-laptop" "arch"}}
{{- end }}


# print screen shortcut
bindsym Print exec --no-startup-id gnome-screenshot -i

bindsym $mod+c exec --no-startup-id startCoding

############################### sound control ####################################
# ponymix --sink-input -d "ALSA Playback" -N set-volume 50
bindsym XF86AudioRaiseVolume exec --no-startup-id pulsemixer --change-volume +5 --unmute --max-volume 100 | notify audio
bindsym XF86AudioLowerVolume exec --no-startup-id pulsemixer --change-volume -5 --unmute | notify audio
bindsym Shift+XF86AudioRaiseVolume exec --no-startup-id  ponymix --sink-input -d "ALSA Playback" increase 5 | notify audio
bindsym Shift+XF86AudioLowerVolume exec --no-startup-id  ponymix --sink-input -d "ALSA Playback" decrease 5 | notify audio
bindsym XF86AudioPlay        exec --no-startup-id toggleMusic 
# bindsym XF86AudioPause       exec mpc pause
bindsym XF86AudioMute        exec --no-startup-id pulsemixer --toggle-mute --get-mute | notify muted
bindsym XF86AudioNext        exec --no-startup-id mpc next

bindsym XF86AudioPrev        exec --no-startup-id mpc prev
exec --no-startup-id pasystray

#desktop background

bindsym $mod+Shift+b exec --no-startup-id feh --recursive --randomize --bg-fill /usr/share/backgrounds
# bindsym $mod+t exec feh ~/Downloads/background.jpg

bindsym $mod+m exec --no-startup-id launchOnce ashuffle 'ashuffle --queue-buffer 1' 'mpc toggle'

bindsym $mod+p exec gnome-system-monitor

bindsym XF86Tools       exec $TERMINAL -e 'ncmpcpp -s playlist'
# bindsym $mod+m workspace 3
               # exec --no-startup-id i3-msg 'workspace 1:Web; exec /usr/bin/firefox'
			   #
# automatically go back and forth between workspaces when repeatedly pressing $mod + num
workspace_auto_back_and_forth yes

# bindsym $mod+Shift+BackSpace exec --no-startup-id prompt "Shutdown computer?" systemctl poweroff
# bindsym $mod+Shift+Enter exec --no-startup-id prompt "Suspend computer?" sudo -A systemctl suspend
# bindsym $mod+Shift+BackSpace exec --no-startup-id i3-input -P "start terminal?" gnome-terminal

for_window [class="Tor"] floating enable border pixel 1
for_window [class="^SFML"] floating enable border pixel 1
for_window [class="^SFML"] move position center
# assign [class="^Firefox$"] 1 ## seems to do nothing
# league window class: leagueclientux.exe"
# assign [class="^Music$"] 4
 
############################### power off or suspend computer ############################## 
set $mode_system System (l) lock, (o) logout, (Shift+s) suspend, (h) hibernate, (r) reboot, (s) shutdown, (p) pause, (u) update and shutdown
mode "$mode_system" {
    bindsym l exec --no-startup-id i3exit lock, mode "default"
    bindsym o exec --no-startup-id i3exit logout, mode "default"
    bindsym Shift+s exec --no-startup-id i3exit suspend, mode "default"
    bindsym h exec --no-startup-id i3exit hibernate, mode "default"
    bindsym r exec --no-startup-id i3exit reboot, mode "default"
    bindsym s exec --no-startup-id i3exit shutdown, mode "default"
    bindsym p exec --no-startup-id i3exit pause, mode "default"
    bindsym u exec --no-startup-id i3exit update_shut, mode "default"

    # back to normal: Enter or Escape
    bindsym Return mode "default"
    bindsym Escape mode "default"
}

bindsym $mod+Shift+e mode "$mode_system"




# *********************************************************** End of my own customizations *****************************************************************
 
# use these keys for focus, movement, and resize directions when reaching for
# the arrows is not convenient
set $up k
set $down j
set $left h
set $right l

# set modifier to Mod4 (the windows key)

# Font for window titles. Will also be used by the bar unless a different font
# is used in the bar {} block below.
font pango:monospace 8

# This font is widely installed, provides lots of unicode glyphs, right-to-left
# text rendering and scalability on retina/hidpi displays (thanks to pango).
# font pango:DejaVu Sans Mono 8

# Before i3 v4.8, we used to recommend this one as the default:
# font -misc-fixed-medium-r-normal--13-120-75-75-C-70-iso10646-1
# The font above is very space-efficient, that is, it looks good, sharp and
# clear in small sizes. However, its unicode glyph coverage is limited, the old
# X core fonts rendering does not support right-to-left and this being a bitmap
# font, it doesn't scale on retina/hidpi displays.


# use Mouse+Mod1 to drag floating windows to their wanted position
floating_modifier $mod

# kill focused window
bindsym $mod+Shift+q kill

# start dmenu (a program launcher)
bindsym $mod+d exec dmenu_run
# There also is the (new) i3-dmenu-desktop which only displays applications
# shipping a .desktop file. It is a wrapper around dmenu, so you need that
# installed.
# bindsym $mod+d exec --no-startup-id i3-dmenu-desktop

# change focus
bindsym $mod+$left focus left
bindsym $mod+$down focus down
bindsym $mod+$up focus up
bindsym $mod+$right focus right

# alternatively, you can use the cursor keys:
bindsym $mod+Left focus left
bindsym $mod+Down focus down
bindsym $mod+Up focus up
bindsym $mod+Right focus right

# move focused window
bindsym $mod+Shift+$left move left
bindsym $mod+Shift+$down move down
bindsym $mod+Shift+$up move up
bindsym $mod+Shift+$right move right

# alternatively, you can use the cursor keys:
bindsym $mod+Shift+Left move left
bindsym $mod+Shift+Down move down
bindsym $mod+Shift+Up move up
bindsym $mod+Shift+Right move right

# split in horizontal orientation
# bindsym $mod+h split h

# split in vertical orientation
bindsym $mod+v split v

# enter fullscreen mode for the focused container
bindsym $mod+f fullscreen toggle

# change container layout (stacked, tabbed, toggle split)
bindsym $mod+s layout stacking
bindsym $mod+w layout tabbed
bindsym $mod+e layout toggle split

# toggle tiling / floating
bindsym $mod+Shift+space floating toggle

# change focus between tiling / floating windows
bindsym $mod+space focus mode_toggle

# focus the parent container
bindsym $mod+a focus parent

# focus the child container
#bindsym $mod+d focus child

# move the currently focused window to the scratchpad
bindsym $mod+Shift+minus move scratchpad

# Show the next scratchpad window or hide the focused scratchpad window.
# If there are multiple scratchpad windows, this command cycles through them.
bindsym $mod+minus scratchpad show

# Define names for default workspaces for which we configure key bindings later on.
# We use variables to avoid repeating the names in multiple places.
set $ws1 "1"
set $ws2 "2"
set $ws3 "3"
set $ws4 "4"
set $ws5 "5"
set $ws6 "6"
set $ws7 "7"
set $ws8 "8"
set $ws9 "9"
set $ws10 "10"


# switch to workspace
bindsym $mod+1 workspace $ws1
bindsym $mod+2 workspace $ws2
bindsym $mod+3 workspace $ws3
bindsym $mod+4 workspace $ws4
bindsym $mod+5 workspace $ws5
bindsym $mod+6 workspace $ws6
bindsym $mod+7 workspace $ws7
bindsym $mod+8 workspace $ws8
bindsym $mod+9 workspace $ws9
bindsym $mod+0 workspace $ws10

# move focused container to workspace
bindsym $mod+Shift+1 move container to workspace $ws1
bindsym $mod+Shift+2 move container to workspace $ws2
bindsym $mod+Shift+3 move container to workspace $ws3
bindsym $mod+Shift+4 move container to workspace $ws4
bindsym $mod+Shift+5 move container to workspace $ws5
bindsym $mod+Shift+6 move container to workspace $ws6
bindsym $mod+Shift+7 move container to workspace $ws7
bindsym $mod+Shift+8 move container to workspace $ws8
bindsym $mod+Shift+9 move container to workspace $ws9
bindsym $mod+Shift+0 move container to workspace $ws10

# reload the configuration file
bindsym $mod+Shift+c reload
# restart i3 inplace (preserves your layout/session, can be used to upgrade i3)
bindsym $mod+Shift+r restart
# exit i3 (logs you out of your X session)
# bindsym $mod+Shift+e exec "i3-nagbar -t warning -m 'You pressed the exit shortcut. Do you really want to exit i3? This will end your X session.' -b 'Yes, exit i3' 'i3-msg exit'"

# resize window (you can also use the mouse for that)
mode "resize" {
        # These bindings trigger as soon as you enter the resize mode

        # Pressing left will shrink the window’s width.
        # Pressing right will grow the window’s width.
        # Pressing up will shrink the window’s height.
        # Pressing down will grow the window’s height.
        bindsym $left       resize shrink width 10 px or 10 ppt
        bindsym $down       resize grow height 10 px or 10 ppt
        bindsym $up         resize shrink height 10 px or 10 ppt
        bindsym $right      resize grow width 10 px or 10 ppt

        # same bindings, but for the arrow keys
        bindsym Left        resize shrink width 10 px or 10 ppt
        bindsym Down        resize grow height 10 px or 10 ppt
        bindsym Up          resize shrink height 10 px or 10 ppt
        bindsym Right       resize grow width 10 px or 10 ppt

        # back to normal: Enter or Escape or $mod+r
        bindsym Return mode "default"
        bindsym Escape mode "default"
        bindsym $mod+r mode "default"
}

bindsym $mod+r mode "resize"

# Start i3bar to display a workspace bar (plus the system information i3status
# finds out, if available)
bar {
        status_command i3status
		position bottom
		font pango:DejaVu Sans Mono 11
		bindsym button4 nop
		bindsym button5 nop
}
